.BRT-Buttons {
	border: none;
	padding: 15px 32px;
	font-size: 1.3rem;
	margin: 5px;
	border-radius: 0.5rem;
}

.brt-button-black {
	--button-bg-hue: 0;
	--button-bg-saturation: 0%;
	--button-bg-lightness: 20%;
	background-color: hsl(
		var(--button-bg-hue),
		var(--button-bg-saturation),
		var(--button-bg-lightness)
	);
	color: hsl(0, 100%, 100%);
}

.brt-button-black:hover {
	--button-bg-lightness: 30%;
}

.button-div {
	display: flex;
	justify-content: center;
}

.MyChartable {
	display: flex;
	justify-content: center;
}

@media (prefers-color-scheme: light) {
	.brt-button-black {
		--button-bg-hue: 0;
		--button-bg-saturation: 0%;
		--button-bg-lightness: 10%;
	}
}

#navbarID {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0 0 5px;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#navbarID li {
	float: left;
	max-height: 60px;
}

#navbarID li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbarID li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4caf50;
}

.non-active {
	opacity: 0;
	display: none;
}
