:root {
  background: #080808; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #080808, #181818); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #080808, #181818); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  font-family: sans-serif;
}

table {
  border-spacing: 0;
  width: auto;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th,
td {
  text-align: center;
  padding: 16px;
}

td:hover {
  color: white;
  opacity: 1;
}

tr:nth-child(even) {
  background-color: #272727;
  color: whitesmoke;
}

tr:nth-child(odd) {
  background-color: #383838;
  color: whitesmoke;
}
