@font-face {
	font-family: 'GenshinFont';
	src: url('/genshin_web/font/zh-cn.ttf');
}

.navbar-page {
	font-size: 1.6rem;
	line-height: normal;
}

body {
	font-family: 'GenshinFont';
	font-size: 1.2rem;
	text-align: center;
}
body {
	background: #080808;
}

table {
	border-spacing: 0;
	width: auto;
	border: 1px solid #ddd;
}

th {
	cursor: pointer;
}

th,
td {
	min-width: 80px;
	padding: 12px 5px 12px 5px;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #272727;
	color: whitesmoke;
}

tr:nth-child(odd) {
	background-color: #383838;
	color: #f5f5f5;
}
