.anemo,
.geo,
.electro,
.dendro,
.hydro,
.pyro,
.cryo {
	font-size: 2.2rem;
}

.hydro {
	background-color: hsl(221, 90%, 45%);
}

.anemo {
	background-color: #26a684;
}

.cryo {
	background-color: #4878a8;
}

.electro {
	background-color: #9336b0;
}

.geo {
	background-color: #b68d07;
}

.pyro {
	background-color: #bf2818;
}

.dendro {
	background-color: #51810e;
}
