@font-face {
	font-family: 'GenshinFont';
	src: url('../font/zh-cn.ttf');
}

body {
	font-family: 'GenshinFont';
	font-size: 1.6rem;
	text-align: center;
}

body {
	color: hsl(0, 0%, 0%);
	background-color: hsl(30, 30%, 75%);
}

table {
	background: rgb(255, 255, 255);
}

.emptycell {
	background-color: #000000;
	opacity: 0.7;
}

td {
	backdrop-filter: drop-shadow(10px);
	padding: 0px;
}

.bannerrow,
.char,
.whitecell {
	/* background-color: #fdfdfd; */
	width: 5rem;
	height: 5rem;
}

table,
th,
td,
tr {
	border-collapse: collapse;
	border: 1px solid #000;
	align-content: center;
}

img {
	display: block;
}

.char {
	background-color: hsl(0, 0%, 100%);
}
/* .rerunTables {
	display: flex;
	justify-content: space-around;
} */

::-webkit-scrollbar {
	height: 1rem;
	width: 1rem;
}

::-webkit-scrollbar-track {
	background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
	background: #101010;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #101010ab;
}

::-webkit-scrollbar-corner {
	visibility: none;
}
@media (prefers-color-scheme: dark) {
	body {
		background: hsl(0, 0%, 3%);
	}
	.bannerrow {
		color: white;
	}
	table {
		background: hsla(0, 0%, 26%, 0.251);
		/* color: hsl(0, 0%, 100%); */
	}

	.pyro,
	.hydro,
	.cryo,
	.electro {
		color: hsl(0, 0%, 100%);
	}
	.char {
		background-color: hsl(0, 0%, 10%);
	}
	::-webkit-scrollbar-thumb {
		background: hsl(0, 0%, 50%);
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: hsl(0, 0%, 20%);
	}
	::-webkit-scrollbar-track {
		background-color: hsl(0, 0%, 5%);
	}
}
