@font-face {
	font-family: 'GenshinFont';
	src: url('/genshin_web/font/zh-cn.ttf');
}

body {
	font-family: 'GenshinFont';
	font-size: 1.6rem;
	text-align: center;
	color: #000;
	background-color: hsl(30, 30%, 75%);
}

table {
	background-color: #fff;
	border-collapse: collapse;
	border: 1px solid #000;
}

td {
	padding: 0;
	backdrop-filter: drop-shadow(10px);
}

.emptycell {
	background-color: #000000;
	opacity: 0.7;
}

.bannerrow,
.char,
.whitecell {
	width: 5rem;
	height: 5rem;
}

tr {
	align-items: center;
}

img {
	display: block;
}

.char {
	background-color: hsl(0, 0%, 100%);
}

.pyro,
.hydro,
.cryo,
.electro {
	color: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: hsl(0, 0%, 3%);
	}
	.bannerrow {
		color: #fff;
	}
	table {
		background-color: hsla(0, 0%, 26%, 0.251);
		color: #fff;
	}

	.pyro,
	.hydro,
	.cryo,
	.electro {
		color: #fff;
	}
	.char {
		background-color: hsl(0, 0%, 10%);
	}
}

.radiobutton,
.radiobutton2 {
	color: #fff;
}

.radiobutton2 {
	display: block;
}

.rerunTables {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.countingCell {
	background-color: #292929;
	color: #fff;
}

.undefined {
	color: #fff;
}

::-webkit-scrollbar {
	height: 1rem;
	width: 1rem;
}

::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #101010;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #101010ab;
}

::-webkit-scrollbar-corner {
	visibility: hidden;
}
