@font-face {
   
    font-family: "GenshinFont";
    src: url('../font/zh-cn.ttf');
}

body {
    background: black;
    font-family:"GenshinFont";   
    font-size: 1.6rem;
    text-align: center;
}

table {
    background: rgba(63, 94, 91, 0.7);
    -webkit-backdrop-filter: blur(17px);
    backdrop-filter: blur(17px);
}

.emptycell {
    background-color: rgba(0, 0, 0, 0.4);
}

td {
    backdrop-filter: drop-shadow(10px);
    padding: 0px;
}

.bannerrow,
.char,
.whitecell {
    background-color: white;
    width: 5rem;
    height: auto;
}

table,
th,
td,
tr {
    border-collapse: collapse;
    border: 1px solid #000;
    align-content: center
}

img {
    display: block;
}

th {
    width: 5rem;
    height: 2.5rem;
}

.Banners,
.Reruns,
.chartabs {
    width: 20rem;
    height: auto;
    outline: 2rem green;
}

.image-link-div {
    display: flex;
    justify-content: space-around;
    height: min-content;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

body {
overflow-y: visible;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #434343ab;
}

::-webkit-scrollbar-corner {
    visibility: none;
}